.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  border-radius: 6px;
  border: none;
  text-decoration: none;
}

.btn-primary {
  padding: 13px 22px;
  background-color: $blue;
  color: $white;

  @include media-breakpoint-up(lg) {
    padding: 13px 37px;
  }

  &:hover {
    color: $white;
    background-color: $blue-2;
    text-decoration: none;
  }
}


.btn-orange {
  padding: 13px 22px;
  background-color: $accent;
  color: $black;
  text-align: center;

  &:hover {
    color: $white;
    background: linear-gradient(0deg, #7CCAE9, #7CCAE9), #FFFFFF;
    text-decoration: none;
  }
}

.btn-skeleton {
  padding: 11px 36px;
  font-size: 18px;
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    background-color: $accent;
    color: $black;
    border-color: $accent;
  }
}

.btn-big {
  max-width: 174px;
  width: 100%;
}
