.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  border-radius: 6px;
  border: none;
  text-decoration: none;
}

.btn-primary {
  padding: 13px 22px;
  background-color: $blue;
  color: $white;

  &:hover {
    color: $white;
    background-color: $blue-2;
    text-decoration: none;
  }
}


.btn-orange {
  padding: 13px 22px;
  background-color: $accent;
  color: $black;
  text-align: center;

  &:hover {
    color: $white;
    background: linear-gradient(0deg, #7CCAE9, #7CCAE9), #FFFFFF;
    text-decoration: none;
  }
}

.btn-big {
  max-width: 221px;
  width: 100%;
}
