.counter {
  &__description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
  }

  &__value {
    padding: 4px 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(251, 201, 125, 0.3) 0%, rgba(255, 210, 143, 0.3) 100%);
    border-radius: 4px;

    b {
      font-weight: 500;
    }
  }
}
