.questions {
  padding: 48px 0;
}

.questions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.86;
  }

  b {
    font-weight: 500;
  }

  h3 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
  }

  li {
    margin-bottom: 40px;
  }

  span {
    font-weight: 700;
    color: $orange;
  }
}
