// USER VARIABLES SECTION

$accent: #FECF89;
$orange: #E97C7C;
$fontsize: 16px;
$black: #000;
$white: #fff;
$gray: #3f3f3f;
$blue: #7CCAE9;
$blue-2: #60AAC8;
$lineheight: 1.65;
$defaultGradient: radial-gradient(50% 50% at 50% 50%, rgba(251, 201, 125, 0.3) 0%, rgba(255, 210, 143, 0.3) 100%);
$testimonialGradient: linear-gradient(0deg, rgba(255, 255, 255, 0.54), rgba(255, 255, 255, 0.54));

//fonts
$userfont: Roboto, sans-serif;
$headerTitle: Nobile, sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION
@import "node_modules/swiper/swiper.scss";
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
//@import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname), url($furl) format('woff2');
    font-display: swap;
  }
}

@include font('Roboto', light, 300, '../fonts/roboto-light-webfont.woff2');
@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', medium, 500, '../fonts/roboto-medium-webfont.woff2');
@include font('Roboto', bold, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Nobile', bold, 700, '../fonts/nobile-bold-webfont.woff2');

// GENERAL DOCUMENT STYLES

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $black;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;

  background: url("../../img/dest/bg-footer.svg") bottom right no-repeat;

  @include media-breakpoint-up(lg) {
    background: url("../../img/dest/bg-footer-desktop.svg") bottom right no-repeat;
  }
}

.container {
  //max-width: 100%;
  //padding: 0 16px;

  //@include media-breakpoint-up(lg) {
  //  padding: 0 80px;
  //}
}

.title {
  margin-bottom: 24px;
  font-family: $headerTitle;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  text-align: center;

  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }

  span {
    display: block;

    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }
}

.description-wrapper {
  display: flex;
  justify-content: center;
}

.description {
  padding: 7px 10px;
  margin: 0 auto 56px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  background: $defaultGradient;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    margin-bottom: 79px;
  }

  span {
    display: block;

    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }
}

.small-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  @include media-breakpoint-up(lg) {
    font-size: 36px;
    text-align: left;
  }
}

a {
  color: $black;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
